<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Form</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="${menu}"></div>
    <div class="container">
        <h1 class="mt-4" th:if="${product.id}">Edit Product</h1>
        <h1 class="mt-4" th:unless="${product.id}">Add New Product</h1>
        <form th:object="${product}" th:action="@{/products/save}" method="post">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" th:field="*{description}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-secondary" href="/products">Cancel</i></a>
        </form>
    </div>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
