<!--TABLE-->
<div class="table-responsive" id="containerFields" data-th-fragment="details-detailModalConfirmBody" data-th-with="collectionLink=${@linkBuilder.of('CustomerOrdersItemDetailsThymeleafController')}">
    <table id="details-detail-table-item-to-remove" data-parent-table="customerorder-entity-table" data-data-parent-id="${orderDetail != null ? orderDetail.id : ''}" data-data-load-url="${collectionLink.to('datatablesByIdsIn').with('orderDetail', '_PARENTID_')}">
      <thead>
        <tr>
              <th data-data="quantity" data-th-text="#{label_customerorder_details_quantity}">quantity</th>
              <th data-data="customerOrder" data-th-text="#{label_customerorder_details_customerorder}">customerOrder</th>
              <th data-data="product" data-th-text="#{label_customerorder_details_product}">product</th>
        </tr>
      </thead>
      <tbody data-th-remove="all">
        <tr>
              <td>quantity</td>
              <td>customerOrder</td>
              <td>product</td>
        </tr>
      </tbody>
    </table>
</div>
<!-- /TABLE -->