<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_customerorder})}|">Show CustomerOrder - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${customerOrder}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="customerorder-orderdate-field" data-z="d5703559">
            	      <strong data-th-text="#{label_customerorder_orderdate}">orderDate</strong>
                    <span data-th-text="*{{orderDate}}">orderDateValue</span>
         	        </li>
                  <li id="customerorder-shippeddate-field" data-z="711d2a39">
            	      <strong data-th-text="#{label_customerorder_shippeddate}">shippedDate</strong>
                    <span data-th-text="*{{shippedDate}}">shippedDateValue</span>
         	        </li>
                  <li id="customerorder-shipaddress-field" data-z="d511e319">
            	      <strong data-th-text="#{label_customerorder_shipaddress}">shipAddress</strong>
                    <span data-th-text="*{{shipAddress}}">shipAddressValue</span>
         	        </li>
                  <li id="customerorder-customer-field" data-z="47061905">
            	      <strong data-th-text="#{label_customerorder_customer}">customer</strong>
                    <span data-th-text="*{{customer}}">customerValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
